#centrepage{
    flex-direction:row;
}
.centrepage{
    margin:5%;
    display:flex;
    flex-direction: column;
    justify-content:center ;
    overflow: hidden;
    
}
.centres{
    /* border:solid 1px rgb(243, 239, 239); */
    display:flex;   
    /* justify-content: space-around; */
    flex-grow: 1;
    margin:5% 0%;
}
.centre{
    /* align-items: center; */
    display:flex;
    flex-direction: column;
    background-color:#e9ebeb;
    color:black;
    width:15em;
    height:70%;
    gap:12px;
    /* justify-content: space-around; */
    /* flex-grow: 1; */
    position: relative;
  margin: 8px;
  padding: 1%;
  transition: transform 0.3s ease, filter 0.3s ease;

  &:hover {
    transform: scale(1.1); 
    filter: brightness(1.1);
    border:2px solid #87ccef;
    border-radius: 0px 20px;
  }
  
}
.centre_link{
    text-decoration:double;
    color: rgb(114, 156, 215) ;
    &:hover {
        color: #173849;
        font-weight: bold;
        
      }
}